.background {
    background-image: url("../img/rana-sawalha.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    padding: 22px 0 19px ;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-logo {
    display: inline-block;
    margin-left: 81px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
}

.header-logo:hover {
    color: #3cb878;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/css_sprites.png");
    margin-left: 28px;
}

.icon.calendar {
    background-position: -10px -10px;
}

.icon.calendar:hover {
    background-position: -49px -10px;
}

.icon.forum {
    width: 28px;
    height: 20px;
    background-position: -168px -10px;
}

.icon.forum:hover {
    background-position: -216px -10px;
}

.icon.trip {
    background-position: -88px -10px;
    margin-right: 24px;
}

.icon.trip:hover {
    background-position: -128px -10px;
}

.header-nav {
    float: right;
    margin-right: 93px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.header-link {
    text-decoration: none;
    color: #3cb878;
}

.header-link:hover {
    width: 100%;
    border-bottom: 1px solid #3cb878;
}

.header-nav-link::before {
    content: "";
    display: inline-block;
    border-left: 1px solid #33302e;
    padding-left: 24px;
    height: 19px

}

.form {
    margin: 65px auto;
    background-color: #ffffff;
    border-radius: 5px;
    width: 444px;
}

.form-header {
    margin: 29px 59px 17px 0;
}

.form-header:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.form-sing {
    margin-left: 60px;
    font-family: sans-serif;
    font-size: 20px;
    color: #434343;
}

.form-link {
    text-decoration: none;
    margin-left: 207px;
    font-family: sans-serif;
    font-size: 14px;
    color: #3cb878;
    font-weight: bold;
}

.form-link:hover {
    width: 100%;
    border-bottom: 1px solid #3cb878;
}

.btn {
    text-decoration: none;
    display: inline-block;
    width: 157px;
    /*height: 46px;*/
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.button-facebook {
    display: inline-block;
    margin-left: 62px;
    background-color: #305db8;
    transition: 2s;
}

.button-facebook:hover {
    background-color: #264b96;
}

.fa-facebook-f{
    font-size: 20px;
    margin-left: 20px;
}

.fa-facebook-f::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 9px 18px;
    vertical-align: middle;
}

.button-google {
    margin-left: 8px;
    background-color: #df4a32;
    transition: 2s;
}

.button-google:hover {
    background-color: #c3412c;
}

.fa-google-plus-g {
    font-size: 20px;
    margin-left: 13px;
}

.fa-google-plus-g::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 9px 24px 9px 9px;
    vertical-align: middle;
}

.form-line {
    margin: 33px auto 18px ;
    width: 322px;
    opacity: 0.3;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.form-line:before {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #000;
    left: 0;
    top: 63%;
}

.form-line:after {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #000;
    right: 0;
    top: 63%;
}

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 33px));
}

.register-form {
    box-sizing: border-box;
    width: 322px;
    height: 46px;
    padding-left: 19px;
    margin: 0 0 9px 62px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    opacity: 0.4;
}

.register-form:focus {
    box-shadow: 0 8px 5px rgba(0,0,0,0.3);
    position: relative;
    bottom: 8px;
    border: none;
    opacity: 1;
}

#chk[type="checkbox"] {
    display: none;
}

label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 62px;
    vertical-align: middle;

}

#chk[type="checkbox"]:checked + label::before  {
    content: "\2714";
    /*vertical-align: middle;*/
    color: #329a65;
    font-size: 25px;

}

.check-box-link {
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.check-box-link:hover{
    border-bottom: solid 1px #3aae72;
}

.check-box-text {
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 22px;
}


.button-create {
    width: 322px;
    height: 46px;
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #3cb878;
    margin: 28px 0 32px 62px;
    border: none;
    border-radius: 5px;
    transition: 2s;
}

.button-create:hover {
    background-color: #329a65;

}